* {
	font-family: "0xProto Nerd Font";
	font-size: 18px;
  }
window#waybar {
	background: transparent;
}
.modules-middle {
  margin-left: 15px;
	border-radius: 100px;
	margin-bottom: 7px;
  background: #1B1B1D;
  padding-right: 15px;
}
label, button {
	padding: 0 4px;
}
button label {
	background: transparent;
	border: none;
	padding: 0 5px;
}
#workspaces {
	background: rgba(0,0,0,0);
}
#workspaces button {
	border: none;
	background: transparent;
	color: #1B1B1D;
	border-radius: 100px;
  margin-left: 7px;
	padding: 3px 3px;
}
#workspaces button.active {
	background: transparent;
	color: #D71921;
	border-radius: 100px;
	padding: 3px 3px;
  margin-left: 7px;
}
#network {
  margin-right: 15px;
	color: #45994a;
}
#clock {
	margin-top: 0px;
	background: #1B1B1D;
	color: #ffffff;
	border-radius: 12px 12px 0px 0px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: 7px;
}
#mpris {
  margin-right: 15px;
  margin-bottom: 7px;
	color: #D71921;
  padding-left: 15px;
}
#pulseaudio {
	margin-bottom: 7px;
  border-radius: 0px 7px 7px 0px;
	color: #D71921;
  background: #1B1B1D;
  margin-right: 15px;
  padding-right: 5px;
}
#custom-headset {
  padding-left: 15px;
	margin-bottom: 7px;
	border-radius: 100px 0px 0px 100px;
  color: #ffffff;
  background: #1B1B1D;
}
#custom-launcher {
  margin-bottom: 7px;
	margin-right: 15px;
	color: #D71921;
}
