* {
	font-family: "0xProto Nerd Font";
	font-size: 18px;
  }
window#waybar {
	background: transparent;
}
.modules-left,
.modules-center {
	border-radius: 100px;
	margin: 5px 10px;
	margin-top: 7px;
}
label, button {
	padding: 0 4px;
}
button label {
	background: transparent;
	border: none;
	padding: 0 5px;
}
#workspaces {
	background: rgba(0,0,0,0);
}
#workspaces button {
	border: none;
	background: transparent;
	color: #868584;	
	border-radius: 100px;
	margin: 0px 0px;
	padding: 3px 3px;
}
#workspaces button.active {
	background: transparent;
	color: #bf7a8c;
	border-radius: 100px;
	margin: 0px 0px;
	padding: 3px 3px;
}
#network {
  margin-right: 3px;
	color: #45994a;
}
#clock {
	margin-top: 0px;
	background: #bb7e00;
	color: #0c0c0d;
	border-radius: 0px 0px 12px 12px;
	padding-left: 15px;
	padding-right: 15px;
	margin-right: 15px;
}
#mpris {
  margin-right: 0px;
	padding-left: 15px;
	padding-right: 7px;
	margin-top: 0px;
	color: #9ea121;
}
#pulseaudio {
	color: #9ea121;
}
#custom-bright {
  margin-right: 15px;
}
#custom-headset {
  color: #bb7e00;
}
#custom-power {
	margin-right: 3px;
	margin-left: 3px;
	color: #D32F2F;
}
#tray {
	margin: 3px;
	padding: 3px;
}
#custom-workspace {
	color: #d93f2d;
}
#memory {
	margin-right: 15px;
	color: #bb7e00;
}
